extends ../components/common-layout
block content
    form(method="post", name="login_user_form", action="#{url_for_security('login')}")
        h4 АВТОРИЗАЦИЯ
        h6 *Заполните поля для авторизации
        != login_user_form.hidden_tag()
        input(id='email' name='email',type="text", placeholder="Имя пользователя", autofocus='', required)
        input(id='password' name='password', type="password", placeholder="Пароль", required)
        button(type="submit", name="Login") ВХОД