extends ../components/common-layout
block content
    form(action="#{url_for_security('register')}", method="POST", name="register_user_form")
        != register_user_form.hidden_tag()
        label Имя пользователя
        input(name="email", type="text", required)
        if register_user_form.email.errors
            ul
            for error in register_user_form.email.errors
                li= error
        label Пароль
        input(name="password", type="password", required)
        label Подтвердите пароль
        input(name="password_confirm", type="password", required)
        input(type="submit", name="register", value="Зарегистрировать")
